h1 {
  color: honeydew;
  text-align: center;
}
body{
  background-color:lightpink;
}
p {
  text-align: center;
  color: honeydew;
  background-color:darkgray;
  border: 5px solid whitesmoke;
  margin-top: 55px;
  font-family: 'Times New Roman', Times, serif;
}
.Photos{
  display: flex;
  justify-content: center;
}
.navbar{
  position:absolute;
  top: 20px;
  bottom:40px;
  font-family:sans-serif;
}
.navbar ul li a{
  text-decoration: none;
  color:honeydew;
  text-transform: uppercase;
}
.navbar ul li::after{
  content:"";
  height:1.7px;
  width:0;
  background:honeydew;
  position:absolute;
  left:0;
  bottom:-3.5px;
  transition:0.4s;
}
.navbar ul li:hover::after{
  width:100%;
}
.navbar ul li{
  list-style: none;
  display:inline-block;
  margin: 0 20px;
  position:relative;
}